<div class="container">
	<div class="columns">
		<div class="column width-2">
			<app-selector
				[uid]="uid"
			></app-selector>
			<app-input
				[word]="currentWord"
				[class]="inputClass"
			></app-input>
			<app-controls
				[letters]="Game?.letters ?? []"
				[suggestions]="suggestions"
				(letterSelected)="letterSelected($event)"
				(deleteCommand)="deleteLetter()"
				(enterCommand)="submitWord()"
			></app-controls>
		</div><!-- /column -->
		<div class="column width-4">
			<div class="flex">
				<app-nickname
					[rank]="rank"
					(nicknameChanged)="storeRecord()"
				></app-nickname>
				<app-progress
					[value]="progress + '%'"
				></app-progress>
				<app-points
					[value]="points"
				></app-points>
			</div>
			<app-ranking
				[allRecords]="Records"
			></app-ranking>
			<app-words
				[suggestions]="suggestions"
				[availableWords]="Game?.words ?? []"
				[discoveredWords]="discoveredWords"
			></app-words>
			<code *ngIf="debug">
				<p>ready: {{ isReady }}</p>
				<p>uid: {{ uid }}</p>
				<p>rank: {{ rank }}</p>
				<p>game: {{ Game | json }}</p>
				<p>records: {{ Records | json }}</p>
			</code>
		</div><!-- /column -->
	</div><!-- /columns -->
</div><!-- /container -->
