.container {
	margin-top: 1em;
}

app-input {
  text-align: center;
}

app-controls {
  display: block;
  margin: auto;
  text-align: center;
}

.flex {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

app-nickname {
	margin-right: 9px;
}

app-progress {
	flex: 1;
}

app-points {
	margin-left: 9px;
}
