<div class="container">
	<div class="columns">
		<div class="column width-2">
			<app-selector
				[uid]="uid"
			></app-selector>
			<app-input
				[word]="currentWord"
				[class]="inputClass"
			></app-input>
			<app-controls
				[letters]="Game?.letters ?? []"
				(letterSelected)="letterSelected($event)"
				(deleteCommand)="deleteLetter()"
				(enterCommand)="submitWord()"
			></app-controls>
		</div><!-- /column -->
		<div class="column width-4">
			<div class="flex">
				<app-username></app-username>
				<app-progress
					[value]="progress + '%'"
				></app-progress>
			</div>
			<app-words
				[availableWords]="Game?.words ?? []"
				[discoveredWords]="discoveredWords"
			></app-words>
			<p>ready: {{ isReady }}</p>
			<p>uid: {{ uid }}</p>
			<p>game: {{ Game | json }}</p>
			<p>records: {{ Records | json }}</p>
		</div><!-- /column -->
	</div><!-- /columns -->
</div><!-- /container -->
