div {
  font-size: 64px;
  font-weight: bolder;
  font-family: sans-serif;
  margin-bottom: 9px;
}

span.cursor {
  color: #F1C40F;
  padding-top:-4px;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
