div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 64px;
	margin-bottom: 27px;
}

p {
	font-family: Roboto;
	font-weight: bolder;
}

p.success { color: green; }
p.warning { color: orange; }
p.error { color: red; }

span.cursor {
  color: #F1C40F;
  padding-top:-4px;
  animation: blinker 1.35s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
