.column{
	padding: 9px;
	font-size: 18px;
	font-weight: bolder;
	font-family: sans-serif;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

span {
	color: #909090;
}

.discovered {
	color: #000000;
}
