<div class="columns" (click)="toggleShow()" *ngIf="ranking.length">
	<div class="column width-sm-2" *ngFor="let record of ranking">
		<span title="{{ record.points }}" *ngIf="record.rank == 1">🥇</span>
		<span title="{{ record.points }}" *ngIf="record.rank == 2">🥈</span>
		<span title="{{ record.points }}" *ngIf="record.rank == 3">🥉</span>
		<code title="{{ record.points }}" *ngIf="record.rank > 3">[{{ record.rank }}]</code>
		<span title="{{ record.nickname }}">&nbsp;{{ record.nickname }}&nbsp;</span>
		<code>{{ record.points }}</code>
	</div><!-- /column -->
</div><!-- /columns -->
