svg {
	flex: 1;
	max-width:400px;
}

use {
  transition: 0.1s;
  cursor: pointer;
  fill: #e9e9e9;
}

text {
  fill: black;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 9px;
	user-select: none;
}

.central use { fill: #F1C40F; }
.central:hover use { fill: #F4D03F; }
.central:active use { fill: #F7DC6F; }
.around:hover use { fill: #a9a9a9; }
.around:active use { fill: #090909; }
